/* MODAL STYLES */
.modal-background {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
	width: 100%;
  z-index: 9998;
}

.modal {
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  height: fit-content;
  left: 0;
  margin: auto;
  max-height: 85%;
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 9999;
}

.modal > p {
  margin: 0;
	padding: 15px;
}

.modal-header {
	background-color: #f9f9f9;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  height: 50px;
}

.modal-header h3 {
  box-sizing: border-box;
  color: #4d4d4d;
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
	margin: 0;
  padding-left: 15px;
}

.modal-header label {
	box-sizing: border-box;
  border-left: 1px solid #dddddd;
  cursor: pointer;
  float: right;
  line-height: 50px;
  padding: 0 15px 0 15px;
}

.modal-header label:hover img {
	opacity: 0.6;
}