body {
  color: #323232;
}

.expense-item {
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 0 1em;
}

.expense-item:hover {
  background-color: #e5e5e5;
  font-weight: bold;
}

h1 {
  font-size: medium;
}

.list legend {
  border-bottom: 1px solid #e5e5e5;
}

.list-amount {
  text-align: right;
}

.margin--vh {
  margin: 1em;
}

.margin--b-med {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}